.App {
  text-align: center;
}

.App-logo {
  height: 125px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 715px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-picture {
  max-width: 600px;
  margin: 0 auto;
  
}

.youtube-link {
  color: #61dafb;
}

a:hover {
  color: lightsalmon;
}

.profile-description {
  font-size: 50px;
  margin-top: 10px;
  line-height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.img-description {
  margin: 0px 0px 0px 0px;
  padding: 60px 0px 0px 100px;
}

h3 {
  font-size: 24px;
  padding: 0px 0px 0px 130px;
}